.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.sidebar.active {
    margin-left: -250px;
}
@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
}


body {
    font-family: 'Poppins', sans-serif;
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar {
    background: #1f1f20;
    color: #fff;
    transition: all 0.3s;
}

.sidebar .sidebar-header {
    padding: 20px;
    /*background: #6d7fcc;*/
    background: #1f1f20;
    border-bottom: white 0.1rem solid;
    margin: 0% 5% 0% 5%;
}
.sidebar img {
        margin: 0px 20px 0px 5px;
}

.sidebar .row {
    padding: 20px 0;

}
.sidebar .list-group {
    margin: 0% 5% 0% 5%;
}
.sidebar .list-group-item {
    background: #1f1f20;
    border: none;
    padding: .75rem 1.25rem .75rem 1rem;
    border-radius: 10px;
}
.sidebar .list-group-item-action {
    color: white;

}
.sidebar .list-group-item.active {
    background-color: #00acc1;
    border-color: #00acc1;
    border-radius: 10px;
}
.content {
    margin: 10% 20% 0% 5%;
    background: white;
    color: white;
    height: 50vh;
    border-radius: 10px;

}
.content-list {
    margin: 10% 2% 0% 2%;
    background: white;
    color: black;
    height: 50vh;
    border-radius: 10px;
    display: inline-table;
}

.content .container {
    background:blue;
}
.purple {
    background: #a13bb5;
    border-radius: 10px;
    padding: 2% 0% 2% 0%;
    margin-top: 0% !important;
    margin-left: -1%;
    margin-right: -1%;
    transform: translate(0px,-10px);
    color: white;
}
.name {
    margin-left: 15px;
    padding-left: 0;
}

.content .row{
    margin-top: 8%;


}
.content input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
}
.content .form-control {
    padding: .375rem 0rem;
    color: #bac0d2

}

.btn-purple {
    background-color: #a13bb5;
    border-color: #a13bb5;
    color: white;
}




.sidebar ul.components {
    padding: 20px 0;
}

.list-header {
    color: #a13bb5;
}

.content-list .row {
    border-bottom: 1px solid #ced4da;
    padding-bottom: 12px;
    padding-top: 10px;
    font-size: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.content-list .row:last-child {
    border-bottom: none;
}
