
.navbar {
    padding: 0;
}
.navbar__login, .navbar__sublogin {
    padding-top: 10px;
}
.main-logo {
    width: 24%;
    padding: 32px 20px;
    position: absolute;
    top: -32px;
    background-color: #000;
    z-index: 9;
}
.rankana_logo_title {
    margin-left: 30%;
    color: #c9a300;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 0;
}
.navbar__login ul, .navbar__sublogin ul {
    list-style: none;
    margin-bottom: 0;
}


.navbar__login ul li, .navbar__sublogin ul li {
    display: inline-block;
    padding: 0 1.3rem;
}
.split-line-right {
    border-right: 1px solid #000;
}
.navbar__login ul li a, .navbar__sublogin ul li a {
    color: #010101;
    -o-object-fit: contain;
    object-fit: contain;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
}

#dropdownMenuLink {
    color: #c9a300;

}
.navbar__login ul li:last-child, .navbar__login ul li:nth-last-child(2), .navbar__sublogin ul li:last-child, .navbar__sublogin ul li:nth-last-child(2) {
    background-color: #fff;
}
.btn-secondary {
    color: #212529;
    background-color: #fff;
    border-color: #fff;
}
.navbar__brand {
    background-color: #fff;
    border: 1px solid #a2a2a2;
}
.navbar__sublogin {
    padding-bottom: 10px;
}
.navbar__login ul li a.dark, .navbar__sublogin ul li a.dark {
    font-weight: 600;
}










.carousel-item h1 {
    display: inline-block;
}
.carousel-item h1.sweet_line {
    font-weight: 100;
    vertical-align: text-bottom;
}

.carousel-text {
    text-align: center;
    position: absolute;
    color: #fff;
    bottom: 10%;
}

.carousel-item img {
    height: 70vh;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 13px;
    margin-bottom: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgb(255,255,255);
    border: 2px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    background-color: #c9a300;
    border: 2px solid #c9a300;
}















.home, .home h1 {
    text-align: center;
}
.home {
    color: #fff;
}

.fixed_menu_navigation {
    position: absolute;
    right: 0;
    border-bottom: 1px solid #a2a2a2;
}

.breadcrumbs.list-unstyled {
    margin-top: 25px;
    margin-bottom: 5px;
}
ul.breadcrumbs {
    text-align: left;
}
.breadcrumbs {
    margin: 1rem 0 1.5rem;
}

.breadcrumbs li:first-child {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
}
.breadcrumbs li {
    display: inline;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
}

.breadcrumbs li:first-child a {
    color: #bf9801;
}
.breadcrumbs li a {
    color: #333;
}
.breadcrumbs li:not(:first-of-type) {
    margin-left: .33333rem;
}
.breadcrumbs li:not(:last-of-type):after {
    content: ">";
    display: inline-block;
    margin-left: .33333rem;
    color: #bf9801;
}
.product-line {
    margin-top: 35px;
    font-family: Lato;
}
.z-i-100 {
    z-index: 100;
}
.pt-4-5 {
    padding-top: 2rem;
}
.z-i-50 {
    z-index: 50;
}
.home-subsection-bar {
    height: 6vh;
    bottom: -260px;
    position: absolute;
    right: 0;
    background-color: #d0ad94;
}
.pt-6 {
    padding-top: 3.5rem;
}
.product-line h1, .product-line p {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
}

.home h1 {
    display: inline-block;
    font-weight: 300;
    font-family: Lato;
    font-size: 70px;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: normal;
}
.product-line h1 {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #010101;
    margin-top: 10px;
}


.product-line p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    color: #8c8f94;
    margin-bottom: 45px;
}

.product-line h1, .product-line p {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
}


.product-line .col-4 {
    padding-bottom: 25px;
}

.product-line .col-4 img {
    min-height: 100%;
}
.artisan-container .artisan-list img, .product-line .col-4 img {
    width: 100%;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}
.product-line .col-4 img {
    height: 100%;
}
.product-line .col-4 .first {
    height: 100%;
    min-height: 75%;
}
.product-line .col-4 .first-bar {
    min-height: inherit;
}
.product-line .col-4 .first-bar:last-child {
    min-height: inherit;
}
.product-line .col-4 .first-image {
    min-height: inherit;

}
.product-line .col-4 .paint-image {
    padding: 0.5rem 0.5rem;

}


.product-line .col-4 .item {
    padding: 0 0.5rem;
    border-right: 1px solid #b4b6b9;
    display: inline-block;
}
.product-line .col-4 .item:last-child{
    padding: 0 0.5rem;
    display: inline-block;
    border: none;
}









.example-categories {
    font-family: Lato;
    background-color: #f7f7f7;
    margin-top: 40px;
    padding-top: 65px;
    padding-bottom: 65px;
}

.example-categories .row .our-product-categories-section h2.sweet_line {
    font-weight: 100;
    vertical-align: super;
    font-family: -webkit-body;
}

.example-categories .row .our-product-categories-section h2 {
    display: inline-block;
    font-size: 25px;
    margin: 0;
}
.example-categories .row h2, .example-categories .row p {
    -o-object-fit: contain;
    object-fit: contain;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
}
.example-categories .row h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.27;
    color: #010101;
}
.example-categories .row .our-product-categories-section p {
    color: #000;
    padding-bottom: 3rem;
    padding-top: 1rem;
}
.example-categories .row .col-10 {
    margin-bottom: 45px;
}
















.footer {
    font-family: Lato;
    background-color: #010101;
    padding: 2rem 0;
    line-height: 1;
}

.footer h2 {
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #bf9801;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.footer ul {
    list-style: none;
    padding-left: 0;
}

.   menu .menu__item a {
    text-decoration: none;
}

.footer ul a {
    -o-object-fit: contain;
    object-fit: contain;
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #8c8f94;
}
.footer a.social-footer {
    margin-right: 1rem;
}
.container-border{
    border-top: 1px solid;
    padding: 2.5% 10% 0 10%;
    color: #a17d23;
}
.social-logo{
}
#copyright{
    font-size: 10px;
    font-weight: 300;
    color: #8c8f94;
}