html {
    height: 100%;
}
body {
	background: gray;
	height:100%;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: .5;
}
.fs-900 {
    font-size:900%;
}

.bg-d {
    background:#29abe2;
}
.bg-e {
    background:#0071bc;
}
.bg-k {
    background:#2e3192;
}
.bg-oding {
    background:#534741;
}
.container-dekoding {
    right:0;
    bottom:0;
    position:fixed;
    color:white;
}
.header-dekoding {
    border-radius:3%;
    background:#007bff;
    padding-top:5%;
}
.row-dekoding {
    margin:1% 10% 1% 0%;
    height:70%;
}
.row-dekoding-2 {
    margin:3% 10% 1% 0%;
    height:10%
}
.btn-submit {
    right:0;
    position:absolute;
    width:20%;
    padding: .2rem .75rem;
    border-radius:8%;
    background-color:#007bff;
}