{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">

{% endblock %}

{% block content %}
        <div class="wrapper" style="background: #fafafa;">
            <nav class="sidebar">
                <div class="sidebar-header">
                    <h5>
                    <img src="{% static 'images/small_logo.png' %}">
                    DEKODING
                    </h5>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="list-group" id="list-tab">
                      <a class="list-group-item list-group-item-action" href="{% url 'dog_list'%}">
                          <img src="{% static 'images/list_icon.png' %}">Dog List
                      </a>
                      <a class="list-group-item list-group-item-action active" href="{% url 'dog_add'%}">
                          <img src="{% static 'images/add_icon.png' %}"> Add Dog
                      </a>
                      <a class="list-group-item list-group-item-action" href="{% url 'dog_list'%}">
                          <img src="{% static 'images/list_icon.png' %}">Owner List
                      </a>
                      <a class="list-group-item list-group-item-action" href="{% url 'dog_add'%}">
                          <img src="{% static 'images/add_icon.png' %}"> Add Owner
                      </a>
                    </div>
                  </div>
                </div>
            </nav>
            <div class="container content">
                <form method="POST" action="{% url 'dog_add' %}">
                    {% csrf_token %}
                    <div class="row purple">
                        <div class="col">
                            <h3>Add Dog</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 name">
                            <input class="form-control" type="text" name="name" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <input class="form-control" type="text" name="breed" placeholder="Breed" required>
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="text" name="age" placeholder="Age" required>
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="text" name="owner" placeholder="Owner" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-purple">SAVE DOG</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
{% endblock %}
