{% extends "base.html" %}
{% load static %}

{% block content %}
  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Dekoding Test</h1>
        <p>This tests is all about testing your skills as Frontend and Backend developer, you should implement the tasks mentioned on the
          description of the test on the following views using bootstrap as UI.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Slides</h2>
          <p>Slides 1,2,3,4,5,6.</p>
          <p><a class="btn btn-secondary" href="{% url 'slides' %}" role="button">Lets do it »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Rankana</h2>
          <p>Diseño de rankana web page</p>
          <p><a class="btn btn-secondary" href="{% url 'rankana' %}" role="button">Lets do it »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Dogs add and list</h2>
          <p>Backend: Añadir y listar dogs y owners</p>
          <p><a class="btn btn-secondary" href="{% url 'dog_list' %}" role="button">Lets do it »</a></p>
        </div>
      </div>
      <hr>
    </div> <!-- /container -->
  </main>
{% endblock %}