{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">
{% endblock %}

{% block content %}
        <div class="wrapper" style="background: #fafafa;">
            <nav class="sidebar">
                <div class="sidebar-header">
                    <h5>
                    <img src="{% static 'images/small_logo.png' %}">
                    DEKODING
                    </h5>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="list-group" id="mylist">
                      <a class="list-group-item list-group-item-action active" href="{% url 'dog_list'%}">
                          <img src="{% static 'images/list_icon.png' %}">Dog List
                      </a>
                      <a class="list-group-item list-group-item-action" href="{% url 'dog_add'%}">
                          <img src="{% static 'images/add_icon.png' %}"> Add Dog
                      </a>
                      <a class="list-group-item list-group-item-action" href="{% url 'dog_list'%}">
                          <img src="{% static 'images/list_icon.png' %}">Owner List
                      </a>
                      <a class="list-group-item list-group-item-action" href="{% url 'dog_add'%}">
                          <img src="{% static 'images/add_icon.png' %}"> Add Owner
                      </a>
                    </div>
                  </div>
                </div>
            </nav>
            <div class="container content-list">
                    <div class="row purple">
                        <div class="col">
                            <h3>Dog List</h3>
                        </div>
                    </div>
                    <div class="row list-header">
                        <div class="col-3">
                            Name
                        </div>
                        <div class="col-3">
                            Age
                        </div>
                        <div class="col-3">
                            Breed
                        </div>
                        <div class="col-3">
                            Owner
                        </div>
                    </div>
                    {% for dog in dogs %}
                    <div class="row">
                        <div class="col-3">
                            {{dog.name}}
                        </div>
                        <div class="col-3">
                            {{dog.age}}
                        </div>
                        <div class="col-3">
                            {{dog.breed}}
                        </div>
                        <div class="col-3">
                            {{dog.owner}}
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
{% endblock %}
