{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rankana.css' %}">
{% endblock %}

{% block content %}
  <header class="navbar" role="navigation">
    <div class="navbar__login container-fluid ">
      <div class=" d-none d-md-block container">
        <div class="row">
          <div class="col-md-4">
            <a href="/"><img src="{% static 'images/rankanalogo.png' %}" class="main-logo"></a>
            <a href="/" style="text-decoration: none"><h1 class="rankana_logo_title mb-2"><img src="{% static 'images/rankana.png' %}"></h1></a>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-7 text-right">
            <ul class="mt-1">
              <li class="split-line-right">
                <a rel="nofollow" href="/es/account/signup/">
                  Register
                </a>
              </li>
              <li class="split-line-right">
                <a rel="nofollow" href="/es/account/login/">
                Login
                </a>
              </li>
              <li>
                <div class="language-picker dropdown show">
                  <a class="dropdown-toggle dropdown-link" href="" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   EN
                  </a>
                  <div class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenuLink">
                    <form id="language-picker" action="/i18n/" method="post">
                      <input type='hidden' name='csrfmiddlewaretoken' value='tlcKgtowb0XjWx0Sj3PVYOpYEfF9TgygbkafsJpFCeEXja21if9vSHbl8QBdI8GG' />
                      <input name="next" type="hidden" value="/">
                      <a data-lang="en" class="dropdown-item language-pick dropdown-link">
                        English
                      </a>
                      <a data-lang="es" class="dropdown-item language-pick dropdown-link active">
                        español
                      </a>
                    </form>
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'images/triple_line.png' %}">
                  </button>
                  <div class="dropdown-menu pull-left" aria-labelledby="dropdownMenuButton">
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar__brand container-fluid d-block">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-12 text-right navbar__sublogin">
            <ul class="menu ">
              <li class="split-line-right">
                <img src="{% static 'images/artisan_small_icon.png' %}">
                <a href="/es/artisan/list_artisan/" class="dark">Artisan catalog</a>
              </li>
              <li class="  menu__item" >
                <a class="" href="/es/products/category/home-decor-1/">
                  GoldSmith
                </a>
              </li>
              <li class="  menu__item" >
                <a class="" href="/es/products/category/painting-2/">
                  Paints
                </a>
              </li>
              <li class="  menu__item" >
                <a class="" href="/es/products/category/home-decor-1/">
                  Tapestry
                </a>
              </li>
              <li class="  menu__item" >
                <a class="" href="/es/products/category/painting-2/">
                 Compas
                </a>
              </li>
              <li class="  menu__item" >
                <a class="" href="/es/products/category/home-decor-1/">
                Handbag
                </a>
              </li>
              <li class="  menu__item" >
                <a class="" href="/es/products/category/painting-2/">
                Ceramic
                </a>
              </li>
              <li class="  menu__item" >
                <a class="" href="/es/products/category/painting-2/">
                Textil
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid p-0" style="height: 50%">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="col-md-12 carousel-text">
            <h1 class="sweet_line">___</h1>
            <h1 style="font-style: oblique;">We share customs</h1>
            <h1 class="sweet_line">___</h1>
          </div>
          <img class="d-block w-100" src="{% static 'images/home_bg.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'images/home_bg.jpg' %}" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'images/home_bg.jpg' %}" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>



  <div class="container maincontent" style="min-height: 253.469px;">
    <div class="home">
      <div class="row">
        <div class="col-12 fixed_menu_navigation">
          <div class="container">
            <ul class="breadcrumbs list-unstyled d-none d-md-block" style="margin-bottom: 0;">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/">What is Rankana</a>
              </li>
            </ul>
          </div>
        </div>
      <div class="container" style="margin-top: 35px;">
        <div class="row product-line">
          <div class="col-md-12" style="margin-bottom: 5vh;">
            <div class="row">
              <div class="col-md-3 z-i-100">
                <img class="w-100" src="{% static 'images/rankana_crafter.png' %}">
              </div>
              <div class="col-5 pt-6">
                <h1 style="text-transform: none;">What is Rankana?</h1>
                <p class="col-10 offset-1" style="color: black">"We are not a conventional e commerce."</p>
              </div>
              <div class="col-md-4 z-i-100">
                <img class="w-100 pt-4-5" src="{% static 'images/rankana_laptop.png' %}">
              </div>
            </div>
          </div>
          <div class="col-md-12 home-subsection-bar z-i-50"></div>
          <div class="col-4">
            <div class="row">
              <div class="col">
              <img src="{% static 'images/cuadro_ejemplo.png' %}" class="first">
              </div>
            </div>
            <div class="row">
              <div class="col-5 d-flex align-items-center justify-content-center" style="padding-bottom: 0px">
                <div class="paint-image">
                  <img src="{% static 'images/paint.png' %}" class="first-image">
                </div>
                <span style="color:#b4b6b9;">Paints</span>
              </div>
              <div class="col-1">
              </div>
              <div class="col-5 d-flex align-items-center justify-content-end" style="margin-left: 8px">
                <div class="item">
                 <img src="{% static 'images/star.png' %}" class="first-bar">
                </div>
                <div class="item">
                  <img src="{% static 'images/search.png' %}" class="first-bar">
                </div>
                <div class="item">
                  <img src="{% static 'images/buy.png' %}" class="first-bar">
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <img src="{% static 'images/example2.png' %}">
          </div>
          <div class="col-4">
            <img src="{% static 'images/example3.png' %}">
          </div>
          <div class="col-4">
            <img src="{% static 'images/example4.png' %}">
          </div>
          <div class="col-4">
            <img src="{% static 'images/example5.png' %}">
          </div>
          <div class="col-4">
            <img src="{% static 'images/example6.png' %}">
          </div>
          <div class="col-4">
            <img src="{% static 'images/example7.png' %}">
          </div>
          <div class="col-4">
            <img src="{% static 'images/example8.png' %}">
          </div>
          <div class="col-4">
            <img src="{% static 'images/example9.png' %}">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="container-fluid example-categories text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center our-product-categories-section">
          <h2 class="sweet_line">____&nbsp;</h2>
          <h2>Our Product Categories</h2>
          <h2 class="sweet_line">&nbsp;&nbsp;____</h2>
          <p>Navigate to discover unique products</p>
        </div>
        <div class="col-10 offset-1 row">
          <div class="col-md-4">
            <img src="{% static 'images/goldsmithing.png' %}">
            <h2 class="split-line-right">Goldsmithing</h2>
          </div>
          <div class="col-md-4">
            <img src="{% static 'images/paints.png' %}">
            <h2 class="split-line-right">Paints</h2>
          </div>
          <div class="col-md-4">
            <img src="{% static 'images/tapestry.png' %}">
            <h2>Tapestry</h2>
          </div>
        </div>
        <div class="col-md-3">
          <img src="{% static 'images/compas.png' %}">
          <h2 class="split-line-right">Compas</h2>
        </div>
        <div class="col-md-3">
          <img src="{% static 'images/handbag.png' %}">
          <h2 class="split-line-right">Handbag</h2>
        </div>
        <div class="col-md-3">
          <img src="{% static 'images/ceramic.png' %}">
          <h2 class="split-line-right">Ceramic</h2>
        </div>
        <div class="col-md-3">
          <img src="{% static 'images/textile.png' %}">
          <h2>Textile</h2>
        </div>
      </div>
    </div>
  </div>









  <footer class="footer">
    <div class="container-fluid container-border">
        <div class="row">
          <div class="col-md-2 col-sm-6">
            <h2>Product Line</h2>
              <ul class="menu ">
              <li class="  menu__item">
                <a class="" href="/es/products/category/home-decor-1/">
                  GoldSmith
                </a>
              </li>
              <li class="  menu__item">
                <a class="" href="/es/products/category/painting-2/">
                  Paints
               </a>
              </li>
              <li class="  menu__item">
                <a class="" href="/es/products/category/home-decor-1/">
                 Tapestry
                </a>
              </li>
              <li class="  menu__item">
                <a class="" href="/es/products/category/painting-2/">
                  Compas
                </a>
              </li>
              <li class="  menu__item">
                <a class="" href="/es/products/category/painting-2/">
                  Handbags
                </a>
              </li>
              <li class="  menu__item">
                <a class="" href="/es/products/category/painting-2/">
                Ceramic
                </a>
              </li>
             <li class="  menu__item">
              <a class="" href="/es/products/category/painting-2/">
                Textil
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-6">
          <h2>Rankana</h2>
          <ul>
            <li>
              <a rel="nofollow" href="#">
                About us
              </a>
            </li>
            <li>
              <a rel="nofollow" href="#">
                Mission & Vision
              </a>
            </li>
            <li>
              <a rel="nofollow" href="#">
                Product Line
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-6">
          <h2>Contact Us</h2>
          <ul>
            <li>
              <a rel="nofollow" href="#">
                Register
              </a>
            </li>
            <li>
              <a rel="nofollow" href="#">
                Login
              </a>
            </li>
            <li>
              <a rel="nofollow" href="#">
                Contact Us
              </a>
            </li>
            <li>
              <a rel="nofollow" href="#">
                Phone number
              </a>
            </li>
            <li>
              <a rel="nofollow" href="#">
                Email
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3 col-sm-12 follow-us">
          <h2>Follow Us On</h2>
          <a target="_blank" rel="noopener" class="social-footer" href="https://www.facebook.com/mirumeelabs/">
            <img src="{% static 'images/facebook.png' %}" width="25px" height="25px" class="social-logo">
          </a>
          <a target="_blank" rel="noopener" class="social-footer" href="https://twitter.com/getsaleor">
            <img src="{% static 'images/twitter.png' %}" width="25px" height="25px" class="social-logo">
          </a>
          <a target="_blank" rel="noopener" class="social-footer" href="https://www.instagram.com/explore/tags/mirumee/">
            <img src="{% static 'images/instagram.png' %}" width="25px" height="25px" class="social-logo">
          </a>
         </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <span id="copyright"> @  COPYRIGHT 2018 RANKANA ALL RIGHTS RESERVED / DATA PRIVACY - IMPRINT</span>
        </div>
      </div>
    </div>
  </footer>


{% endblock %}
