{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slides12345.css' %}">
{% endblock %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide h-100" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner h-100">
    <div class="carousel-item active h-100">
        <div class="row h-100">
            <div class="col align-self-center text-center">
                <img src="{% static 'images/logo.png' %}" alt="Dekoding" class="w-50">
            </div>
        </div>
    </div>
    <div class="carousel-item h-100">
        <div class="container-fluid h-100">
            <div class="row h-50 fs-900" style="margin-bottom:0.2%;">
                <div class="col text-center d-flex justify-content-center align-items-center bg-d">
                    D
                </div>
                <div class="col text-center d-flex justify-content-center align-items-center bg-e">
                    E
                </div>
                <div class="col text-center d-flex justify-content-center align-items-center bg-k">
                    K
                </div>
            </div>
            <div class="row h-50 fs-900">
                <div class="col text-center d-flex justify-content-center align-items-center bg-oding">
                    ODING
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item h-100">
      <img class="d-block w-100 h-100" src="{% static 'images/wallpaper.png' %}" alt="Third slide">
        <div class="container-fluid h-50 w-50 container-dekoding">
        <div class="row row-dekoding" style="">
            <div class="col text-center header-dekoding">
                <h1>Dekoding</h1>
            </div>
        </div>
        <div class="row row-dekoding-2">
            <div class="col justify-content-end" style="padding-right:0;">
                <button type="button" class="btn btn-primary btn-submit">Submit</button>

            </div>
        </div>

        </div>
    </div>
    <div class="carousel-item h-100">
        <img class="d-block w-100 h-100" src="{% static 'images/wallpaper.png' %}" alt="Third slide">
        <div class="container-fluid h-50 w-50 container-dekoding">
            <div class="row row-dekoding">
                <div class="col text-center header-dekoding">
                    <h1>Dekoding</h1>
                </div>
            </div>
            <div class="row row-dekoding-2">
                <div class="col justify-content-end" style="padding-right:0;">
                    <button type="button" class="btn btn-primary btn-submit" data-toggle="modal" data-target="#exampleModalCenter">Submit</button>

                </div>
            </div>

        </div>
    </div>
    <div class="carousel-item h-100">
        <img class="d-block w-100 h-100" src="{% static 'images/wallpaper.png' %}" alt="Third slide">
        <div class="container-fluid h-50 w-50 container-dekoding">
            <div class="row row-dekoding">
                <div class="col text-center header-dekoding">
                    <h1>Dekoding</h1>
                </div>
            </div>
            <div class="row row-dekoding-2">
                <div class="col justify-content-end" style="padding-right:0;">
                    <button type="button" class="btn btn-primary btn-submit" data-toggle="modal" data-target="#exampleModalCenter2">Submit</button>
                </div>
            </div>

        </div>
    </div>
    <div class="carousel-item h-100">
        <div class="wrapper" style="background: #fafafa;">
            <nav class="sidebar">
                <div class="sidebar-header">
                    <h5>
                    <img src="{% static 'images/small_logo.png' %}">
                    DEKODING
                    </h5>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="list-group" id="list-tab" role="tablist">
                      <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
                          <img src="{% static 'images/list_icon.png' %}">Dog List
                      </a>
                      <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">
                          <img src="{% static 'images/add_icon.png' %}"> Add Dog
                      </a>
                      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">
                          <img src="{% static 'images/list_icon.png' %}">Owner List
                      </a>
                      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
                          <img src="{% static 'images/add_icon.png' %}"> Add Owner
                      </a>
                    </div>
                  </div>
                </div>
            </nav>
            <div class="container content">
                <form>
                    <div class="row purple">
                        <div class="col">
                            <h3>Add Dog</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 name">
                            <input class="form-control" type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <input class="form-control" type="text" placeholder="Breed">
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="text" placeholder="Age">
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="text" placeholder="Owner">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-purple">SAVE DOG</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="carousel-item h-100">
        <div class="wrapper" style="background: #fafafa;">
            <!-- Sidebar -->
            <nav class="sidebar">
                <div class="sidebar-header">
                    <h5>
                    <img src="{% static 'images/small_logo.png' %}">
                    DEKODING
                    </h5>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="list-group" id="mylist" role="tablist">
                      <a class="list-group-item list-group-item-action active" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
                          <img src="{% static 'images/list_icon.png' %}">Dog List
                      </a>
                      <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">
                          <img src="{% static 'images/add_icon.png' %}"> Add Dog
                      </a>
                      <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">
                          <img src="{% static 'images/list_icon.png' %}">Owner List
                      </a>
                      <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
                          <img src="{% static 'images/add_icon.png' %}"> Add Owner
                      </a>
                    </div>
                  </div>
                </div>
            </nav>
            <div class="container content-list">
                    <div class="row purple">
                        <div class="col">
                            <h3>Dog List</h3>
                        </div>
                    </div>
                    <div class="row list-header">
                        <div class="col-3">
                            Name
                        </div>
                        <div class="col-3">
                            Age
                        </div>
                        <div class="col-3">
                            Breed
                        </div>
                        <div class="col-3">
                            Owner
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Lasi
                        </div>
                        <div class="col-3">
                            3
                        </div>
                        <div class="col-3">
                            German Shepard
                        </div>
                        <div class="col-3">
                            Renato Suarez
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Doggo
                        </div>
                        <div class="col-3">
                            2
                        </div>
                        <div class="col-3">
                            Argentine Doggo
                        </div>
                        <div class="col-3">
                            Angelina Medina
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Servero
                        </div>
                        <div class="col-3">
                            5
                        </div>
                        <div class="col-3">
                            Doberman
                        </div>
                        <div class="col-3">
                            Sara Velarde
                        </div>
                    </div>

            </div>

        </div>

    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Content Content
      </div>
      <div class="modal-footer" style="border-top:none;">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Content Content
      </div>
      <div class="modal-footer" style="border-top:none;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
